.header {
  flex: 0 0 auto;

  .header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

    .header__logo {
      display: block;
    }

    .header__menu_burger {
      display: none;
    }

    .header__menu_close {
      display: none;
    }

    .header__nav {
      .header__nav_item {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;

        &:hover {
          color: $color-neon-blue;
          transition: color 5ms;
        }
      }

      .header__nav_item + .header__nav_item {
        margin-left: 24px;
      }

      .nav_sup {
        top: -.3em;
        right: .3em;
      }
    }
  }

  @include viewport--md {
    .header__wrapper {
      .header__menu_burger {
        display: block;
        .line {
          fill: none;
          stroke: $color-neon-blue;
          stroke-width: 6;
          transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

          &.line1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }

          &.line2 {
            stroke-dasharray: 60 60;
            stroke-width: 6;
          }

          &.line3 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }
        }

        &.active {
          .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
          .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
          }
          .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
        }
      }

      .header__nav {
        display: none;
      }
    }
  }
}
