.preloader__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  background-color: $color-default-white;
  transition: left 0.5s;
  position: fixed;
  left: -100%;
  z-index: 1;
  width: 100%;

  &.active {
    left: 0;
  }

  .preloader__image {
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
    transition-delay: 0.5s;

    &.active {
      opacity: 1;
    }
  }

  .preloader__text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 22px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }
}

.main_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  align-items: center;

  .main-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .main-block__title {
      font-size: 96px;
      line-height: 1;
      color: $color-neon-blue;
      margin-right: 40px;
      width: 60%;
    }

    .main-block__descr {
      width: 35%;

      .main-block__img_white {
        display: none;
      }

      .main-block__txt {
        font-size: 30px;
        line-height: 40px;
        margin-top: 35px;
      }
    }

    &.main-block_bg-blue {
      display: none;
    }
  }

  .menu__wrapper {
    display: none;
  }

  @include viewport--md {
    align-items: center;
    position: relative;

    .main-block {
      align-items: center;
      height: 100%;

      .main-block__title {
        width: 100%;
        margin: 0;
      }

      &.main-block_bg-white {
        display: block;

        .main-block__descr {
          display: none;
        }
      }

      &.main-block_bg-blue {
        display: flex;
        left: -100%;
        transition: left 0.5s;
        position: absolute;
        background-color: $color-neon-blue;

        .main-block__descr {
          color: $color-default-white;
          width: 45%;

          .main-block__img_white {
            display: block;
          }
        }
      }
    }

    .menu__wrapper {
      width: 100%;
      height: 100%;
      background-color: $color-default-white;
      z-index: 1;
      position: absolute;
      left: -100%;
      transition: left 0.5s;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &.active {
        left: 0;
      }

      .menu__wrapper_nav-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          text-align: center;
          font-weight: 500;
          font-size: 28px;
          line-height: 28px;
        }

        li + li {
          margin-top: 30px;
        }
      }
    }

    &.active {
      .main-block {
        justify-content: center;


        &.main-block_bg-blue {
          left: 0;
          z-index: 1;
        }
      }
    }
  }
}
